@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/023/133/298/small/dark-blue-texture-with-cloudy-sky-vector.jpg);
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column; /* Stack header and content */
  height: 100vh; /* Full viewport height */
}

header {
  background-color: #0d0c1d;
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 500px;
  color: whitesmoke;
  padding: 15px;
}

.search {
  margin: auto 50px;
  border-radius: 50px;
  padding: 15px;
  height: 20px;
}

header img {
  margin: 10px;
  float: left;
  width: 50px;
}

.content {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: space-evenly; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  height: 85vh; /* Make sure the container takes full viewport height */
}

.find-city {
  width: 700px;
  text-align: center; /* Center align the text inside the div */
}

.content p {
  padding: 20px 0;
}

.weather-card {
  background-color: whitesmoke;

  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #0d0c1d;
}

.one {
  padding: 20px;
}
.two {
  /* grid-column-start: 2;
  grid-row-start:1;
  grid-row-end:3; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.three {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px;
}

@media (max-width: 984px) {
  .content {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .search {
    display: none;
  }

  .ntg {
    width: 100%;
  }

  header h1 {
    width: 100%;
    color: whitesmoke;
    padding: 15px;
  }

  .find-city {
    width: 100%;
    text-align: center; /* Center align the text inside the div */
  }
}
